:root {
  --accent: #c71a33;
  --secondary: rgba(255, 255, 255, 0.2);
  --mainBg: #0e0e11;
}

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-size: 17px;
  color: #ffffff;
  overflow-x: hidden;
  font-family: chakra-petch, sans-serif;
  font-weight: 400;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  z-index: 2;
}
