.app {
  height: 100%;
  background: url(../img/mainBg.png) no-repeat;
  background-size: 100% 100vh;
  position: relative;
  z-index: 0;
}

.homePage.ghostBg::after {
  background: rgba(var(--mainBg), 0.8);
  height: 100vh;
  background-size: cover;
  z-index: 1;
}

.glowEffect.ghostBg::after {
  background: url(../img/glowEffect.png) no-repeat;

  background-size: cover;
  background-position: 0;
  z-index: 2;
}

.frame {
  position: absolute;
  top: 20px;
  z-index: 3;
}

.frame.left {
  left: 3%;
}

.frame.right {
  right: 3%;
}

.frame.top {
  left: 50%;
  transform: translateX(-50%);
}

header.header {
  position: relative;
  z-index: 22;
}

header img.logo {
  position: absolute;
  left: 3%;
  top: 25%;
}

header {
  padding: 20px 5% 20px 14%;
}

header nav svg {
  margin: 0 10px;
  cursor: pointer;
}

header button {
  margin-right: 12px;
}

.clock {
  position: relative;
  right: 50px;
}

.clock .segment {
  position: relative;
}

.clock .flexRow > span {
  margin: 0 15px;
  transform: translateY(-20%);
}

.clock .segment:last-child {
  margin-right: 0;
}

.clock .segment strong {
  font-family: rajdhani, sans-serif;
  font-size: 36px;
}
.clock .segment span {
  position: absolute;
  left: 0;
  bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.17em;
  transform: translate(-0, 150%);
  opacity: 0.6;
}

.homePage main {
  position: relative;
  z-index: 20;
}

.introComposition {
  margin-top: 100px;
}

.introComposition h1 {
  font-size: 62px;
  line-height: 69px;
  margin-bottom: 60px;
}

.introComposition .introTimeline button {
  text-transform: initial;
  padding: 10px 14px;
  height: unset;
  margin-top: 14px;
}
.introComposition .introTimeline span {
  margin-top: 12px;
}

.introComposition .introTimeline .progressLine {
  margin-top: -50px;
}

.introComposition button.accent > svg {
  margin-left: 13px;
}

.nftListWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nftListContainer {
  overflow-x: hidden;
}

.nftListWrapper {
  margin: 0 auto;
}

.nftListWrapper img {
  width: 281px;
}

.controls {
  width: 400px;
}

.alice-carousel__wrapper .alice-carousel__stage-item.__active {
  transition: transform 0.5s ease;
}
