@media only screen and (min-width: 1500px) {
}

@media (min-width: 800px) and (min-height: 975px) {
}

@media (min-width: 800px) and (min-height: 1100px) {
}

@media only screen and (min-width: 1500px), screen and (max-height: 771px) {
}

@media only screen and (max-width: 1540px) {
  .glowEffect.ghostBg::after {
    background: url(../img/glowEffect.png) no-repeat;
    background-size: contain;
    background-position: top;
  }
}
/*start here
decor composition lines
glowing effect fix
frame top 500px


*/
@media only screen and (max-width: 1420px) {
  .introTimeline.flexRow {
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 1215px) {
  header .userAccount {
    display: none;
  }

  header .userWalletWrapper,
  .signupPage-container .userWalletWrapper {
    position: relative;
    top: unset;
    right: unset;
    transform: unset;
    margin-top: 10px;
  }
  header nav.headerNav {
    display: none;
  }
}

@media only screen and (max-width: 1115px) {
  .menuModal .banner {
    background-size: 70% 70%;
  }

  .progressLine {
    width: 150px;
  }
  .frame.left {
    left: 1%;
  }

  .frame.right {
    right: 1%;
  }

  header .menu.flexRow {
    flex-direction: column;
    flex-flow: column-reverse;
    align-items: flex-end;
  }

  header > .flexRow {
    align-items: flex-start;
  }

  header button {
    margin-right: 0;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .menuModal .banner .bridgeBanner-text {
    width: 50%;
  }
  .progressLine {
    width: auto;
  }
}

@media only screen and (max-width: 850px) {


  .wrapperLeaderBoard {
    justify-content: unset;
  }

  img.nft {
    width: 200px;
  }
  .howItWorkSection {
    margin-top: 78px;
  }

  .desktopOnly {
    display: none;
  }
  .mobileOnly {
    display: block;
    margin-bottom: 30px;
  }

  .footerTelegram {
    margin-right: 10px;
  }
  footer .media {
    border-top: none;
  }

  .footerFlex,
  .mobileContainerFlex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobileContainerFlex {
    justify-content: space-between;
  }

  .yearFooterMobileText {
    margin-top: 10px;
    margin-left: 10px;
  }

  .mobileXpLogo {
    width: 130px;
    height: 40px;
  }

  .mobileWarper {
    margin: 0 auto;
    max-width: 342px;
  }
  .participant {
    max-width: 335px;
    margin-left: 0px;
  }

  .achievements p {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 16px;
  }

  .howItWorkSection:before {
    position: absolute;
    content: "";
    border-top: 30px solid #09070a;
    border-right: 30px solid transparent;
    top: -1px;
    left: -1px;
  }
  .howItWorkSection:after {
    position: absolute;
    content: "";
    border-bottom: 30px solid #09070a;
    border-left: 30px solid transparent;
    bottom: -1px;
    right: -1px;
  }

  .introTimeline-item span {
    margin: 10px 0;
  }

  .imageAssetNumber {
    top: 70px;
    left: 50px;
  }

  .howItWorkSectionSubTitle {
    font-size: 18px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }

  .frame.left,
  .frame.right {
    display: none;
  }

  .profile .signUpContainer {
    display: flex;
  }

  .showModal .signUpContainer {
    display: flex;
  }

  .clock {
    width: 250px;
    margin-bottom: 23px;
  }

  .clock .segment span {
    font-size: 14px;
    transform: translate(-45%, 110%);
  }

  .introTimeline-item span {
    font-size: 20px;
  }

  .heroContainer {
    position: unset;
    display: flex;
    flex-direction: column;
  }
  .heroButtonsSection {
    flex-direction: column;
  }
  .heroNFTname {
    font-size: 36px;
    line-height: 39px;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
  }
  .howWorkButtonStyle {
    margin-top: 16px;
    margin-bottom: 28px;
  }
  .heroTimeContainer {
    justify-content: center;
    height: auto;
    margin-top: 28px;
  }
  .heroCollectionStyle {
    position: static;
    order: 5;
    width: auto;
    height: auto;
  }
  .heroCollectionStyle img {
    display: block;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .app {
    height: 100%;
    background: url(../img/mainBgMobile.png) no-repeat !important;
    background-size: auto 100vh !important;
    position: relative;
    z-index: 0;
  }

  .iconBackground {
    height: 67px;
    width: 46px;
    padding-left: 5px;
  }
  header img.logo {
    width: 35px;
    height: 36px;
  }

  .introComposition {
    margin-top: 50px;
  }

  .XPTitleStyle {
    font-size: 15px;
    margin-top: 10px;
  }
  .accountWrapper {
    top: 40px !important;
    white-space: nowrap;
  }

  .accountWrapper h2 {
    font-size: 34px !important;
  }
  .userAccountRegText {
    width: 100% !important;
    font-size: 19px !important;
    white-space: normal;
    line-height: 25px;
  }
  .userAccount-tgWrapper {
    display: flex;
  }

  .userAccount-tgWrapper {
    width: 300px;
  }

  .signupPage-form {
    margin-top: 25vh;
    width: 100% !important;
  }
  .footer {
    padding-bottom: 10px !important;
  }
  .footer .links,
  .footer .logo {
    display: flex;
    align-items: center;
  }
  .footer .links svg {
    height: 41px;
    width: 41px;
  }

  .footer .logo svg {
    max-width: 120px;
    height: 36px;
  }
  .footer .logo span {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-bottom: 15px;
    opacity: 0.7;
    color: #fff;
    font-size: 13px;
  }
  .signUpContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 90%;
    width: 80%;
    left: 10%;
  }
  .signUpContainer .accent {
    width: 100%;
    justify-content: center !important;
  }

  .signUpContainer .accent svg {
    margin-right: 16px;
  }
}

@media only screen and (max-width: 548px) {
  img.nft {
    width: 120px;
  }

  .introComposition h1 {
    font-size: 34px;
    line-height: 35px;
  }

  .burgerBtn {
    width: 36px;
    height: 36px;
  }
}

@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 450px) {
}

@media only screen and (max-width: 420px) {
}

@media only screen and (max-width: 385px) {
}
